*{
    margin: 0;
    padding: 0;
}

.parent{
    width: 100%;
    height: 100%;
}

.parent .nav{
    width: 100%;
    height: 50px;
    background-color: #4169e1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.parent .nav a{
    text-decoration: none;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 15px;    
}